name: Python Linting and Static Analysis

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt  # Install all dependencies
    
    - name: Run isort
      run: |
        isort --check .
    
    - name: Run black
      run: |
        black --check .
    
    - name: Run mypy
      run: |
        mypy .
    
    - name: Run pylint
      run: |
        pylint $(git ls-files '*.py')
